.bg-p-left
  background-position: center left
.bg-p-left-h
  background-position: 25% 50%
.bg-p-right
  background-position: center right
.bg-p-right-h
  background-position: 75% 50%
.bg-p-top
  background-position: top center
.bg-p-bottom
  background-position: bottom center
.bg-p-top-right
  background-position: top right
.bg-p-top-left
  background-position: top left
.bg-p-bottom-left
  background-position: bottom left
.bg-p-bottom-right
  background-position: bottom right
