* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

[data-bg]{
  background: {
    position: center;
    repeat: no-repeat;
    size: cover;
  }
}

.text-body-center{
  text-align: center;
  *{
    text-align: center;
  }
}
.block{
  display: block !important;
}
.mb-50{
  margin-bottom: 50px;
}