body.ar
  font-family: $font-one
  font-weight: 100
  font-style: normal

  h1, h2, p, h4, h5, h3, label
    direction: rtl
    text-align: right
  .text-center
    text-align: center
    direction: rtl
  .text-body
    direction: rtl
    text-align: right
  .text-body-center
    direction: rtl
    text-align: center
    *
      text-align: center

  .rtl
    direction: rtl
  .rtl-right
    direction: rtl
    text-align: right
  .rtl-right-body
    direction: rtl
    text-align: right
    *
      direction: rtl
      text-align: right
  .ltr
    direction: ltr
  .ltr-left
    direction: ltr
    text-align: left
  .ltr-body
    direction: ltr
    *
      direction: ltr
  .ltr-body-left
    direction: ltr
    text-align: left
    *
      direction: ltr
      text-align: left

  ul.pagination
      direction: rtl

  .rtl-col [class*=col-]
    float: right
  .rtl-row > [class*=col-]
    float: right

  .select2-dropdown[dir='rtl'] .select2-results__option
    text-align: right
    font-size: 11px





