.rtl-list
  direction: rtl
  text-align: right
  .product-info
    margin-right: 60px
    margin-left: initial
  .product-img
    float: right
  .label-timestamp
    float: left
    margin-right: 5px
  .list-action-button
    cursor: pointer