*
  outline: none

*:focus
  outline: 0

button:focus
  outline: 0
label
  font-weight: 800
  font-size: 14px

.chosen-container, .icon-form
  text-align: left
  font-family: 'FontAwesome', 'sans-serif'

section.sidebar
  padding-bottom: 0

.filled-info-boxes
  line-height: 1.5
.products-list .product-img
  height: 50px
  overflow: hidden
  img
    height: auto

@media (min-width: 768px)
  .navbar-nav>li>a
    padding-top: 15px
    padding-bottom: 15px

.select2-container--default .select2-selection--multiple .select2-selection__choice
  //color: black !important
  background-color: #00e765 !important
  .select2-selection__choice__remove
    color: white

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single
  padding: 3px 6px !important

.select2-container--default[dir="rtl"] .select2-selection__clear
  float: left !important

div.dt-buttons
  margin: 0 30px
#errors-list
  li
    background: none
    border: none


.form-links, .form-inputs
  .link-input
    margin-bottom: 5px
  .fa
    width: 20px
  .input-group-addon
    border: none
  .help-block
    margin-left: 50px

.form-control.has-error
  background-color: #ffeee7
  box-shadow: inset 0 -2px 0 red
  &:focus
    box-shadow: inset 0 -2px 0 red



table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover
  cursor: pointer

table.dataTable.display tbody td
  .label, a.btn
    font-size: 11px
    display: inline-block
    margin: 2px

table.dataTable.display tbody td
 .btn-group , .btn-group-xs, .btn-group-lg, .btn-group-sm
   a.btn
    margin: 0


.dataTables_wrapper
  margin-bottom: 100px

.dataTables_filter, .dataTables_length
  display: inline-block
.dataTables_filter
  float: right

.model-icon
  text-align: center
  i.fa
    font-size: 50px
    display: inline-block
    margin: 2px

table.dataTable.display.small tbody td
  font-size: 12px

table.dataTable.display.small th
  font-size: 12px


table.dataTable.display.smaller tbody td
  font-size: 11px

table.dataTable.display.smaller th
  font-size: 11px


table.dataTable.display.smallest tbody td
  font-size: 10px

table.dataTable.display.smallest th
  font-size: 10px

.action-modal .modal-body .modal-field
  margin: 7px 0
  .label, a.btn
    margin: 2px
  .fa
    font-size: 2em

.action-modal .modal-body span, .action-modal .modal-body span div
  font-size: 12px
  display: inline

div.link-icons
  i.fa
    margin: 3px
    font-size: 15px



div.media
  margin: 20px 0

.dz-image-preview
  width: 95%
  height: 200px
  .dz-image
    width: 100% !important
    height: 200px !important
.mb-50
  margin-bottom: 50px

.edit-contents
  textarea
    width: 100%

.image-preview
  margin: auto
.image-info
  overflow: hidden
  border-left: solid $color1 3px
  padding: 20px 0 20px 20px

.range-form-group > .form-control
  width: 70px
  padding: 2px 6px
  display: inline-block

.options-column
  display: flex
  justify-content: flex-start
  align-items: center
  font-size: 10px
  > *
    margin: 0 10px
  button
    font-size: 10px
    padding: 3px 8px
  .caret
    margin-right: 5px

.box-body .form-group > p
  display: inline-block
  margin: 10px