.login-box-body
  .form-control-feedback
    right: initial
    left: 0
.rtl
  direction: rtl
.rtl-right
  direction: rtl
  text-align: right

.rtl-body
  direction: rtl
  *
    direction: rtl
.rtl-right-body
  direction: rtl
  text-align: right
  *
    direction: rtl
    text-align: right

.text-body-center
  direction: rtl
  text-align: center
  *
    text-align: center

.ltr
  direction: ltr
.ltr-left
  direction: ltr
  text-align: left
.ltr-body
  direction: ltr
  *
    direction: ltr
.ltr-body-left
  direction: ltr
  text-align: left
  *
    direction: ltr
    text-align: left

table.rtl
  th
    text-align: right
.col-rtl [class*=col]
  float: right


@import "dashboard-list"