/*-------------Fonts---------------------------------------*/
@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(https://fonts.googleapis.com/earlyaccess/lateef.css);

$font-one: 'Droid Arabic Kufi', Roboto, Helvetica, Arial, sans-serif;
$font-two: 'Lateef', cursive;

$color1: #3AACED;
$color2: #18458B;
$color3: #ACED3A;
$color-grey: #f7f9fb;

$link-color: #3da2b4;
$link-subcolor: #003777;

// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #ED3A53;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

$white: #FFFFFF;
$black: #000000;
$dark-gray: #7F7F7F;
$light-gray: #C0C0C0;
$green: #5CB85C;
$light-blue: #5BC0DE;
$red: #D9534F;
$yellow: #F0AD4E;
$blue: #0000FF;
