/* =========================================================
        Pagination STYLE
        */

.pagination-wrapper
  margin-top: 40px

  @media only screen and (max-width: 991px)
    margin-top: 0

  @media only screen and (max-width: 767px)
    margin-top: 20px

  @media only screen and (max-width: 479px)
    margin-top: 0

  .pagination
    li
      transition: all 0.3s ease-in-out
      display: inline-block
      > a, > span
        transition: all 0.3s ease-in-out
        margin: 0 5px
        display: inline-block
        width: 44px
        height: 44px
        line-height: 44px
        border-radius: 6px
        border: 1px solid #eee
        box-sizing: border-box
        position: relative
        font-size: 13px
        color: #888DA0
        background: #fff
        letter-spacing: 1px
        i
          font-size: 12px

      &.active
        > a, > span
          background: $color1
          color: white

      &:not(.disabled)
        &:hover, &:focus
          a
            background: $color1
            color: white


.logo-style
  span
    font-weight: 800
    font-size: 18px
    text-transform: uppercase
    font-family: $font-one
    color: $color1
    strong
      color: $color3

#errors-list
  background-color: $brand-danger
  padding: 20px
  border-radius: 6px
  color: white

.otek-p
  a
    color: #ec1c3a
    &:hover
      color: $color1
  

  p, img, a
    display: inline-block

  p
    margin: 0
    padding: 5px


  img
    height: 35px
    margin-right: 10px
    margin-left: auto
    padding: 3px
    transition: all 0.7s ease-in-out
    cursor: pointer
    position: relative
    border-radius: 5px
    top: -1px


.services-search-input
  margin-bottom: 20px
  input
    max-width: 300px
    float: right !important
    @include media("<=tablet")
      width: 100% !important
      max-width: 100% !important
.services-links
  width: 100%
  margin: 30px auto 20px

  a.service-link
    transition: all 0.1s ease-in-out
    border-radius: 5px
    border: $color1 solid 1px
    padding: 5px 10px
    margin-left: 5px
    margin-bottom: 5px
    float: right
    &:hover, &:active
      color: white
      background-color: $color1


.accordion-dropdown
  width: 100%
  max-width: 360px
  margin: 30px auto 20px
  background: #FFF
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px

  .link
    text-align: right
    cursor: pointer
    display: block
    padding: 15px 15px 15px 42px
    color: #4D4D4D
    font-size: 14px
    font-weight: 700
    border-bottom: 1px solid #CCC
    position: relative
    -webkit-transition: all 0.4s ease
    -o-transition: all 0.4s ease
    transition: all 0.4s ease
    a
      color: #4D4D4D


  li
    &:last-child .link
      border-bottom: 0

    i
      position: absolute
      top: 16px
      left: 12px
      font-size: 18px
      color: #595959
      -webkit-transition: all 0.4s ease
      -o-transition: all 0.4s ease
      transition: all 0.4s ease

      &.fa-chevron-down
        left: 12px
        right: auto
        font-size: 16px

    &.open
      .link a
        color: $color1

      i
        color: $color3

        &.fa-chevron-down
          -webkit-transform: rotate(180deg)
          -ms-transform: rotate(180deg)
          -o-transform: rotate(180deg)
          transform: rotate(180deg)

.majors-search-input
  width: 300px !important
  margin-bottom: 20px
  @include media("<=tablet")
    width: 100% !important
.submenu
  display: none
  background: lighten($color1, 30%)
  font-size: 14px
  text-align: center

  li
    border-bottom: 2px solid white

  a
    color: black
    display: block
    text-decoration: none
    padding: 12px
    padding-left: 42px
    -webkit-transition: all 0.25s ease
    -o-transition: all 0.25s ease
    transition: all 0.25s ease

    &:hover
      background: $color1
      color: #FFF


.accordion-container
  width: 100%
  max-width: 700px
  min-width: 300px
  margin: 0 auto
  padding: 0 5vh

/* accordion-2

#accordion-2
  position: relative
  box-shadow: 0 1px 7px #DBDBDB
  direction: rtl

  .head
    background-color: #FFFFFF
    color: #563e6e
    padding: 20px 30px
    cursor: pointer
    transition: 0.25s
    height: 110px
    display: flex
    justify-content: flex-start
    align-items: center

    p
      margin: 0
      padding: 0
      font-size: 16px
      color: $color2

  .arrow
    content: ''
    position: absolute
    left: 0
    left: 30px
    top: 65px
    opacity: 1
    border-left: 35px solid transparent
    border-right: 35px solid transparent
    border-top: 40px solid #FFFFFF
    transition: 0.3s ease
    z-index: 2

  .head:hover .arrow, .arrow-animate
    border-top: 40px solid lighten($color3, 20%)
    transform: translateY(40px)

  .accordion-content
    background-color: #FFFFFF
    display: none
    padding: 30px
    color: #333333

  .head:hover, .active
    background-color: lighten($color3, 20%)