.post-opt
  float: right
  li
    @include marginSides(20px, initial)
    i
      @include paddingSides(6px, initial)

.search-widget input
  padding: 0 20px 0 80px
  font-family: $font-one

.search-widget .search-submit
  @include positionSides(0, initial)
  border-radius: 4px 0 0 4px

.box-image-widget-media
  float: right
.box-image-widget-details
  float: right
  @include paddingSides(initial, 18px)
  text-align: right

.box-widget.widget-posts .widget-posts-date i
  @include paddingSides(10px, initial)

.box-image-widget-details .post-body
  color: $light-gray
  font-size: 10px
  max-height: 40px
  overflow: hidden

.cat-item li
  a
    float: right
  span
    float: left
  &:before
    bottom: 17px
    @include positionSides(initial, 50%)
    @include marginSides(initial, -25px)
