.dashboard-list-box
  direction: rtl
.dashboard-message-text
  @include marginSides(initial, 30px)
  @include paddingSides(initial, 50px)
  @include media('<=phone')
    @include marginSides(initial, initial)
    @include paddingSides(initial, initial)
.without-image .dashboard-message-text
  @include marginSides(initial, initial)
  @include paddingSides(initial, initial)
.dashboard-message-avatar
  width: auto
  @include media('<=phone')
    display: none
.booking-details
  text-align: right
.new-dashboard-item
  @include positionSides(30px, initial)
  &.booking-status
    top: 80px
  &.booking-when
    background-color: $color1
.booking-title
  @include  paddingSides(10px, initial)
.dashboard-message-avatar
  float: right
.booking-buttons
  button
    margin-left: 20px
    margin-top: 0
    &.booking-cancel
      background-color: $brand-danger
    &.booking-rate
      background-color: $color1
