.custom-form
  label
    margin-bottom: 10px
    font-weight: 500
    z-index: 2
    float: right
    text-align: right
    i
      @include positionSides(initial, 16px)
      @include paddingSides(12px, initial)
      top: 50px
    &.radio

  textarea, input[type="text"], input[type=email], input[type=password], input[type=button], input[type=number]
    padding: 10px 45px 10px 20px
    font-family: $font-one
  .radio-container
    padding: 10px 60px 0px 20px
    border-radius: 6px
    span
      text-align: right
      float: right
      @include paddingSides(initial, 30px)
      &:after
        @include positionSides(initial, 0)
        top: 2px
  .radio input[type="radio"]:checked + span:before
    @include positionSides(inital, 4px)
    top: 5px

  .btn
    font-family: $font-one

  .select2-container--bootstrap
    display: inline-block
    margin-bottom: 20px
    .select2-selection--multiple
      background-color: $color-grey
      padding: 5px 45px 5px 20px
      .select2-search--inline .select2-search__field
        margin-bottom: 0px
        font-family: $font-one
      .select2-selection__choice
        background-color: $color3
        color: white
      .select2-selection__choice__remove
        color: white


  .has-error, .has-error + span.select2 .select2-selection--multiple
    background-color: rgba($brand-danger, 0.2)

  .checkbox-ul
    float: right
    position: relative
    margin: 10px
    background-color: $color-grey
    padding: 10px 20px
    border-radius: 6px
    display: inline-block
    > label
      float: right
      display: block
      font-weight: bold
    ul
      float: right
      position: relative
      li
        float: right
        position: relative


  .agreement
    padding: 30px
    background-color: $color-grey
    border-radius: 6px
    margin-bottom: 30px

    > .agreement-text
      text-align: right
      height: 300px
      overflow-y: scroll
