.dashboard-wrap
  float: right
  @include paddingSides(initial, 290px)
  @media only screen and (max-width: 1064px)
    padding: 0
  .dashboard-sidebar
    @include positionSides(initial, 0)
.dashboard-menu, .dashboard-menu li
  float: right
  a
    float: right
    direction: rtl
    i
      @include paddingSides(6px, initial)
    span
      @include marginSides(intitial, 4px)

.dashboard-avatar
  float: right
.dashboard-sidebar
  direction: rtl

  .dashboard-sidebar-content:before
    @media only screen and (max-width: 1064px)
      @include positionSides(70px, initial)
    @media only screen and (max-width: 540px)
      @include positionSides(20px, initial)

.ed-btn
  @media only screen and (max-width: 1064px)
    float: right
  @media only screen and (max-width: 768px)
    @include marginSides(initial, 30%)
  @media only screen and (max-width: 540px)
    margin-right: 0
    float: none

.dashboard-sidebar-item
  h3, span
    text-align: center
  @media only screen and (max-width: 1064px)
    padding: 0 0 0 10px
    margin-top: 0
    h3, span
      text-align: right
  @media only screen and (max-width: 540px)
    margin-top: 10px
    padding: 0
    h3, span
      text-align: center
  &:before
    @media only screen and (max-width: 1064px)
      @include positionSides(initial, 0)
      @include marginSides(initial, 0)
    @media only screen and (max-width: 540px)
      @include positionSides(initial, 50%)
      @include marginSides(initial, -15px)


.log-out-btn i
  @include paddingSides(initial, 10px)

.approval
  direction: rtl
  text-align: right
  @include positionSides(0, initial)
  @media only screen and (max-width: 1064px)
    @include positionSides(initial, 0)

