#review-button
  margin-bottom: 10px
  bottom: 0px
  right: 0px
  position: absolute
  @include media('<tablet')
    position: relative
.box-widget-author-title
  padding: 0 80px 40px 0px
  float: right
  a, span
    float: right
    text-align: right
.box-widget-author-title-img
  @include positionSides(initial, 0)

.box-widget-list
  li span
    float: right
    direction: rtl
    min-width: auto
    i
      @include paddingSides(10px, initial)
  li a
    @include marginSides(initial, 20px)
    float: right
    text-align: right
.reviews-comments-item-date
  span
    float: right
    i
      @include marginSides(10px, initial)

.doctor-star-rating
  position: absolute
  display: block
  left: -3px
  top: 0px
