.footer-widget .footer-contacts-widget p
  text-align: right
.footer-contacts li
  text-align: right
  a
    @include paddingSides(initial, 4px)
.footer-social
  float: right
  li
    float: right
    @include marginSides(14px, initial)
.footer-majors
  ul
    float: right
    width: 50%
    li
      text-align: right
  a
    color: rgba(255, 255, 255, 0.81)
    font-size: 16px
    &:hover, &:focus
      color: $color3

.subfooter-nav
  float: left
  @include marginSides(50px, initial)