a.to-top
  @include positionSides(20px, initial)

.header-search-input-item.in-loc-dec:before, .col-list-search-input-item.in-loc-dec:before, .header-search-input-item.date-parent:before
  @include positionSides(14px, initial)

.section-title, .home-intro
  @include centerChildren()

.process-item.big-pad-pr-item
  @include centerDescendants()

.header-search-input-item label, .range-slider-title, .col-list-search-input-item label, .leave-rating-holder .leave-rating-title
  text-align: right
  float: right

.box-widget-item-header:before
  @include positionSides(0, initial)
.list-single-main-item-title:before
  @include positionSides(0, initial)
.btn
  padding: 0 30px 0 80px
  text-align: right
  box-shadow: 0px 5px 0px 0px rgba(255,255,255,0.1)
  font-family: $font-one

.btn:after
  @include positionSides(0, initial)

.btn i
  @include positionSides(0, initial)
  border-left: none
  border-right: 1px solid  rgba(255,255,255,0.21)

.btn.float-btn
  float: right

.float-wrap
  float: right
  width: 100%
  position: relative

blockquote
  float: right
  border-right: 15px solid $color1
  border-left: none
  &:before
    @include positionSides(6px, initial)
    
#reserve
  @include media('<desktop')
    [class*=col-]
      float: none
.iziToast > .iziToast-body
  font-family: $font-one
.iziToast-inputs
  width: 100%
.review-input
  font-family: $font-one
  position: relative
  border-radius: 2px
  border: 0
  padding: 4px 7px
  font-size: 11px
  letter-spacing: .02em
  background: rgba(0,0,0,.1)
  color: #000
  box-shadow: 0 0 0 1px rgba(0,0,0,.2)
  min-height: 26px
  display: block
  width: 100%
  margin: 10px 2px
  height: 50px
  resize: vertical

.star-rating
  direction: ltr
  text-align: right
  font-size: 1.5em
  align-items: center
  justify-content: center
  p
    text-align: center
    margin: 0 auto

.back-stars
  display: flex
  flex-direction: row-reverse
  color: #edfbd3
  position: relative
  top: 0
  right: 0

.front-stars
  display: flex
  flex-direction: row-reverse
  color: $color3
  overflow: hidden
  position: absolute
  top: 0
  right: 0