@include media('<=tablet')
  .listings-header
    display: none
.listing-item.has_one_column .geodir-category-img
  float: right
  max-height: 300px
  overflow: hidden
.listing-item.has_one_column .geodir-category-listing
  overflow: hidden
  padding-right: 13px
  padding-left: 0 !important
  position: relative
.facilities-list li
  float: none
  @include marginSides(14px, initial)

.geodir-category-content
  @include media('<=tablet')
    padding-right: 0
.geodir-category-content h3, .geodir-category-location a
  float: right
.geodir-category-content-title:before
  @include positionSides(0, initial)
  @include media('<phone')
    display: none
.geodir-category-footer
  padding: 18px 0 0 0
  .geodir-category-price
    float: right
  @include media('<=phone')
    padding-left: 0
    .geodir-category-price
      float: none
.geodir-opt-list
  position: relative
  @include positionSides(0, initial)
  @include media('<=phone')
    float: none
.filters-col
  @include media('<=desktop')
    float: none !important
    margin-bottom: 20px
.geodir-category-location
  direction: rtl
  span
    float: right
    text-align: right
.list-main-wrap-title h2
  float: right
.price-opt, .price-opt ul, .price-opt-title, .price-opt ul li
  float: right
.price-opt .listsearch-input-item
  float: right
  @include marginSides(initial, 20px)
  @include media('<tablet')
    margin-top: 20px
    width: 100%
    margin-right: 0
.col-list-search-input-item
  direction: rtl
  input
    font-family: $font-one
.header-search-input-item-icon
  @include positionSides(initial, 14px)
  bottom: 8px
.header-search-button
  font-family: $font-one
  font-weight: 800
.list-main-wrap-title span
  float: right
  @include marginSides(initial, 10px)
  
.listing-item.has_one_column
  .geodir-category-content
    width: 40%
    float: right
    @include media('<=phone')
      width: 80%
  .geodir-category-timetable
    float: left
    padding-left: 10px
    width: 40%
    position: absolute
    bottom: 150px
    .timetable-container
      float: left
      width: 300px
      @include media('<=tablet')
        font-size: 80%
        width: 260px
      @media only screen and  (max-width: 600px)
        width: 174px

    @include media('<=phone')
      display: none


.listing-star-rating
  position: absolute
  display: block
  left: 20px
  top: 20px
  margin-bottom: 55px
  @include media('<=phone')
    left: initial
    top: initial
    bottom: 2px
    right: 22px


.listing-footer
  position: relative
  bottom: 0
  left: 0
  right: 0
  margin: 0
  width: 100%
  background: white
  border-radius: 0 0 20px 20px
  padding: 15px 0
  border-top: dotted lightgrey 1px
  direction: rtl

  span
    font-weight: 800
