.main-search-input
  direction: rtl
  padding: 0 0 0 120px
  @media only screen and (max-width: 768px)
    padding: 0
  .main-search-input-item
    float: right
    input, select
      font-family: 'Droid Arabic Kufi', Roboto, Helvetica, Arial, sans-serif
      padding: 0 40px 0 10px
    &.location, &.location input, &.location select
      border-radius: 0 6px 6px 0
    input, select, span.select2-selection
      @include media('<desktop', '>tablet')
        font-size: 11px
        line-height: 1.8

  .main-search-button
    @include positionSides(0, initial)
    font-family: $font-one
    font-size: 18px
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    border-top-left-radius: 6px
    border-bottom-left-radius: 6px
    i
      @include paddingSides(initial, 10px)
  .main-search-input-item, .main-search-button
    @media only screen and (max-width: 768px)
      border-radius: 6px
      input, select, &.location, &.location input, &.location select
        border-radius: 6px

  .main-search-with-caret:before
    @include positionSides(20px, initial)

  .inpt_dec
    @include positionSides(initial, 15px)
    top: 13px
  .select2-container
    margin-top: 10px
  .select2-container--bootstrap
    border: none !important
    box-shadow: none !important
    padding-right: 40px !important
    .select2-selection
      border: none !important
      box-shadow: none !important
    .select2-selection__arrow
      left: 20px

.reserve-now
  position: absolute
  font-weight: 500
  top: 10px
  right: 0
  z-index: 10
  border-radius: 10px 0px 0px 10px
  padding: 10px
  background-color: rgba(0, 0, 0, 0.2)
  font-size: 25px
  color: #fff
  text-align: right
  a
    color: #fff
  @include media('<desktop')
    font-size: 20px
  @include media('<tablet')
    font-size: 15px
  @include media('<phone')
    font-size: 10px