.add-doctor
  float: left
  span
    @include paddingSides(initial, 4px)
.show-reg-form
  float: left
  @include marginSides(20px, initial)
  @media only screen and (max-width: 420px)
    margin-left: 30px
  @media only screen and (max-width: 768px)
    margin-left: 20px
  &:before
    @include positionSides(initial, -20px)
.logo-holder
  float: right
  @media only screen and  (max-width: 1064px)
    @include marginSides(initial, 10px)
.home-btn
  float: right
  @include marginSides(15px, initial)
  margin-right: auto
  margin-left: 15px
.nav-holder
  float: right
  nav > ul
    direction: rtl
    > li > a > i
      @include paddingSides(0, 6px)
  nav li
    float: right
    @include marginSides(6px, initial)
    ul
      direction: rtl
      @include positionSides(initial, 0)
      a
        text-align: right
.show-search-button
  float: left
  border-right: 1px solid rgba(0, 0, 0, 0.21)
  i
    @include paddingSides(initial, 19px)
    @media only screen and (max-width: 540px)
      padding-right: 0
.wishlist-link
  float: left
  border-right: 1px solid rgba(0,0,0,0.21)
  border-left: none
.vis-wishlist
  @include positionSides(-20px, initial)
.header-user-menu
  float: left
  @include marginSides(50px, initial)
  @media only screen and (max-width: 420px)
    margin-left: 30px
  .header-user-name
    padding-top: 6px
    &:before
      @include positionSides(-20px, initial)
  span
    @include positionSides(initial, -50px)
  ul
    direction: rtl
    a
      text-align: right
.nav-button-wrap
  float: right
  @include marginSides(initial, 10px)

.main-menu
  direction: initial
  @media only screen and (max-width: 1064px)
    @include positionSides(initial, -20px)
.vismobmenu
  @media only screen and (max-width: 1064px)
    @include positionSides(initial, 0)

.menusb
  a
    direction: rtl
    text-align: right
    i
      @include positionSides(18px, initial)
      transform: rotate(90deg)
    &.back
      text-align: left
      &:before
        content: '\f061'
