.nice-select:after
  @include positionSides(14px, initial)
.nice-select:before
  @include positionSides(initial, 16px)
.nice-select
  text-align: right !important
  padding-right: 42px
  padding-left: 30px
  &.open
    z-index: 1000
.nice-select .option
  text-align: right
.nice-select.open .nice-select-search-box
  direction: rtl