
.close-reg
  @include positionSides(14px, initial)
.tabs-menu li
  float: right
  a
    float: right
    text-align: right
    i
      @include paddingSides(20px, initial)
      @include media('<phone')
        display: none
.log-submit-btn
  float: right
  font-family: $font-one
  font-weight: 800
.filter-tags
  float: right
  input, label
    float: right
.filter-tags label, .custom-form .filter-tags label
  top: 0px
.lost_password
  float: left
