.team-dec
  @include positionSides(30px, initial)
.team-social
  @include paddingSides(initial, 30px)
  ul
    float: right
  li
    @include marginSides(15px, initial)
    float: right

  .team-contact_link
    float: left
    border-left: none
    border-right: 1px solid rgba(0, 0, 0, 0.21)