.timetable-container
  .slide-item
    margin: auto
  .slick-slide
    float: right
  .unavailable
    width: 70px
    text-align: center
    display: none
    @include media('<=tablet')
      width: 64px
    &.shown
      display: block
  .day
    background-color: $color-grey
    padding: 10px
    float: right
    margin: 5px
    border-radius: 6px
    label, a
      display: block
      text-align: center
      margin-bottom: 5px
    a.button-time
      box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1)
      outline: none
      border: none
      cursor: pointer
      border-radius: 4px
      padding: 5px 20px
      color: white
      -webkit-appearance: none
      &:after
        content: ''
        position: absolute
        width: 50px
        height: 100%
        background: rgba(255,255,255,0.2)
        z-index: 0
        left: 15%
        top: 0
        transition: all 200ms ease-in-out
      &:hover:after
        width: 120%
        left: 0
        background: rgba(255,255,255,0.1)
      &.button-day
        background-color: $color3
      &.button-evening
        background-color: $color1


    label
      font-weight: bold
      color: #666

  .slick-arrow
    position: absolute
    z-index: 2
    top: 50%
    height: 20px
    margin-top: -10px
    width: 20px
    border-radius: 50%
    border: none
    box-shadow: none
    background-color: rgba($color3, 0.5)
    cursor: pointer
    color: white
    padding: 3px
    &.slick-next
      left: -10px
      padding-right: 5px

    &.slick-prev
      right: -10px
      padding-left: 5px
.booking-note
  position: absolute
  right: 20%
  bottom: -30px
  @include media('<tablet')
    right: 0


